@page "/notas"
<h3>Notas de versiones</h3>
<a>Acá van las notas de las versiones posteadas.</a>
<hr />
<br />
<RadzenAccordion>
    <Items>
        <RadzenAccordionItem Text="Versión 1" Icon="account_balance_wallet">
            <p>
                Se finalizó con la etapa 1. Esto incluye lo detallado en el mail. Falta definir:
            </p>
            <li>Interacciones despiece.</li>
            <li>Interacciones materia prima.</li>
            <br />
            <p>Comentarios:</p>
            <li>Íconos reemplazados cuyos archivos son png (los que no están se veían mal).</li>
            <li>Número de orden de trabajo estaría muy bueno que lo genere el sistema, por una cuestión de visualización de estadísticas.</li>
        </RadzenAccordionItem>


        <RadzenAccordionItem Text="Versión 2" Icon="account_balance_wallet">
            <p>
                Se finalizó con la etapa 2. Se actualizó:
            </p>
            <li>Reforma estética.</li>
            <li>Corección de errores.</li>
            <li>Optimización de recursos.</li>
            <br />
        </RadzenAccordionItem>

        <RadzenAccordionItem Text="Versión 3" Icon="account_balance_wallet">
            <p>
                Se agregaron las siguientes modificaciones.
            </p>
            <li>Actualización panel de producción.</li>
            <li>Descuento de stock dentro del ambiente productivo.</li>
            <li>Actualización panel de cotización.</li>
            <li>Control de calidad de pintura.</li>
            <li>Jerarquías de usuarios.</li>
            <br />
        </RadzenAccordionItem>
        <RadzenAccordionItem Text="Versión 4" Icon="account_balance_wallet">
            
            <br />
        </RadzenAccordionItem>

    </Items>
</RadzenAccordion>
@code
{

}