@page "/reportecalendar"
@using System.Globalization;
@inject IJSRuntime _js

<style>
    @@media print {
    .no-print {
        display: none !important;
    }

    .sidebar {
        display: none !important;
    }

    .col {
        width: 14.28%;
        float: left;
    }
    .rz-card{
        break-inside: avoid
    }
    }

    .text {
        overflow-wrap: break-word;
        max-width: 255px;
    }

    .col {
        min-width: 14.28% !important;
    }

</style>


<br class="no-print" />
<br />
<h4>Reporte de Calendario</h4>
<br class="no-print"/>

<RadzenDatePicker class="no-print" @bind-Value=@fechaInicio ShowTime="false" Disabled="generado" DateFormat="dd/MM/yyyy" />

<RadzenDatePicker class="no-print" @bind-Value=@fechaFinal ShowTime="false" Disabled="generado" DateFormat="dd/MM/yyyy" />

&nbsp
<RadzenButton class="btn btn-outline-info btn-sm no-print" Click="@(() => generar())">Generar Reporte</RadzenButton>
<button style="outline:none; float: right;height:100%;" class="btn btn-outline no-print" @onclick="() => Print()"><FeatherPrinter Color="Black"></FeatherPrinter></button>
<br class="no-print"/>
<br class="no-print" />
@if (generado)
{
    <div class="row">
    @for (DateTime fecha = fechaInicioCalendario; fecha <= fechaFinalCalendario; fecha = fecha.AddDays(1))
    {
        <div class="col">
        <h6><small>&nbsp;@fecha.ToString("dddd dd", infoCultural)</small></h6>
        @if (eventos.Where(x => x.Fechaaplazada.Value.Date == fecha.Date).Count()>0)
        {
            @foreach (Ordentrabajo ot in eventos.Where(x => x.Fechaaplazada.Value.Date == fecha.Date))
            {
                <RadzenCard Style="min-height:140px;padding:6px">
                    <RadzenText TextStyle="TextStyle.H2" style="font-size: 8pt;font-weight:900" Class="d-flex mt-1 mb-0">-Codigo: </RadzenText>
                    <RadzenText class="text" TextStyle="TextStyle.Body1" style="font-size: 7pt">&nbsp&nbsp@($"OT{ot.Codigo}")</RadzenText>
                    <RadzenText TextStyle="TextStyle.H2" style="font-size: 8pt;font-weight:900" Class="d-flex mt-1 mb-0">-Cliente: </RadzenText>
                    <RadzenText class="text" TextStyle="TextStyle.Body1" style="font-size: 7pt">&nbsp&nbsp@(ot.Cliente)</RadzenText>
                    <RadzenText TextStyle="TextStyle.H2" style="font-size: 8pt;font-weight:900" Class="d-flex mt-1 mb-0">-Etapa: </RadzenText>
                    <RadzenText class="text" TextStyle="TextStyle.Body1" style="font-size: 7pt">&nbsp&nbsp@(ot.Estado)</RadzenText>
                </RadzenCard>
                <br/>
            }
        }
        else
        {
            <RadzenText TextStyle="TextStyle.H2" style="font-size: 9pt;font-weight:900">&nbspNo hay eventos</RadzenText>
        }
        </div>
@*         @if (fecha.Subtract(fechaInicio).Days % 7 == 6)
        {
            <div style="max-width:0px" class="col no-print"/>
            <div style="max-width:0px" class="col no-print" />
            <div style="max-width:0px" class="col no-print" />
            <div style="max-width:0px" class="col no-print" />
            <div style="max-width:0px" class="col no-print" />
        } *@
        }
    </div>
}


@code {
    DateTime fechaInicio = DateTime.Now.AddDays(-6);
    DateTime fechaFinal = DateTime.Now;
    DateTime fechaInicioCalendario = new();
    DateTime fechaFinalCalendario = new();
    bool generado = false;
    CultureInfo infoCultural = new CultureInfo("es-MX");
    string[] newNames = { "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado", "Domingo" };
    List<Ordentrabajo> eventos = new();

    async Task generar()
    {
        infoCultural.DateTimeFormat.DayNames = newNames;
        fechaInicioCalendario = fechaInicio;
        fechaFinalCalendario = fechaFinal;
        var inicio = fechaInicio.Ticks;
        var final = fechaFinal.Ticks;   
        var r = await http.GetFromJsonAsync<Respuesta<List<Ordentrabajo>>>($"/api/ot/{inicio}/{final}");
        eventos = r.List;
        generado = true;
        Console.WriteLine(eventos.Count());
    }

    private async Task Print()
        => await _js.InvokeVoidAsync("window.print");
}
