@page "/compras"
<br />
<button class="btn btn-outline-primary" @onclick="ComeBack"><FeatherArrowLeft Color="Blue"></FeatherArrowLeft></button>
<br />
<br />
<h1>Compras</h1>
<p>Descripción compras (*)</p>
<hr />

<style>

    .asd {
        border: none;
        color: black;
        padding: 16px 32px;
        margin: 2px 1px;
        transition-duration: 0.4s;
    }

        .asd:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }

    .card:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
</style>

<center>
    <div class="container">
        <div class="row">
            <div class=" col-xl-3 col-md-6 mb-4">
                <div class="card border-10 " style="height:350px;">
                    <div @onclick=gotoproveedores>
                        <img src="/Images/Proveedores.jpg" class="card-img-top" alt="..." style="height:200px;">
                        <div class="card-body text-center">
                            <h4 class="card-title mb-0">Proveedores</h4>
                            <label>Descripción proveedores (*)</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" col-xl-3 col-md-6 mb-4">
                <div class="card border-10 " style="height:350px;">
                    <div @onclick=gotobienes>
                        <img src="/Images/Bienes_e_Insumos.png" class="card-img-top" alt="..." style="height:200px;">
                        <div class="card-body text-center">
                            <h4 class="card-title mb-0">Bienes e insumos</h4>
                            <label>Descripción ingreso de bienes (*)</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" col-xl-3 col-md-6 mb-4">
                <div class="card border-10 " style="height:350px;">
                    <div @onclick=gotoordenes>
                        <img src="/Images/Órdenes de Compra.jpg" class="card-img-top" alt="..." style="height:200px;">
                        <div class="card-body text-center">
                            <h4 class="card-title mb-0">Generador de órdenes de compra</h4>
                            <label>Descripción generador de oc (*)</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</center>

@code {
    async Task gotobienes()
    {
        nav.NavigateTo("/bienes");
    }


    async Task gotoproveedores()
    {
        nav.NavigateTo("/proveedores");

    }

    async Task gotoordenes()
    {
        nav.NavigateTo("/ordenes");

    }
    async Task ComeBack()
    {
        nav.NavigateTo("/");

    }
}
