<RadzenCard Class="m-3">
    <div class="row">
       <strong> <RadzenText>Insumo: @oOrdencompra.Insumo </RadzenText></strong>
       <br />
       
        
        
        <div class="col">
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Generada:</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@oOrdencompra.Generada</b></RadzenText>
                </div>
        <div class="col">
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Aprobación:</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@oOrdencompra.Aprobada</b></RadzenText>

                </div>
        <div class="col">
            <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Recepción:</RadzenText>
            <RadzenText TextStyle="TextStyle.Body1"><b>@oOrdencompra.Recepcionada</b></RadzenText>

        </div>
    </div>
    

</RadzenCard>

@code {
    OrdencompraDTO oOrdencompra = new();
    Respuesta<OrdencompraDTO> oRta = new();
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (id != 0)
        {
            oRta = await http.GetFromJsonAsync<Respuesta<OrdencompraDTO>>($"/api/OC/{id}");
            oOrdencompra = oRta.List;
        }
    }
    async Task cancel()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok($"Form was cancelled"));

    }
}