<RadzenCard Class="m-3">
    <div class="row">
        <h4><strong>@oOrdencompra.Insumo </strong></h4>
        <div class="col-md-6 col-xl-6">
            <div class="d-flex flex-row p-3">
                <div>
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Proveedor</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@oOrdencompra.Proveedor</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Generada</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@oOrdencompra.Generada</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Aprobada</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@oOrdencompra.Aprobada</b></RadzenText>
                </div>
            </div>
        </div>
    </div>

</RadzenCard>

@code {
    OrdencompraDTO oOrdencompra = new();
    Respuesta<OrdencompraDTO> oRta = new();
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (id != 0)
        {
            oRta = await http.GetFromJsonAsync<Respuesta<OrdencompraDTO>>($"/api/OC/{id}");
            oOrdencompra = oRta.List;
        }
    }
    async Task cancel()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok($"Form was cancelled"));

    }
}