@page "/clientes"
<br />
<button class="btn btn-outline-primary" @onclick="ComeBack"><FeatherArrowLeft Color="Blue"></FeatherArrowLeft></button>
<br />
<br />
<h1>Clientes</h1>
<p>Descripción clientes (*)</p>
<hr />
<br /> 
<button class="btn btn-outline-success" @onclick="()=>add(0)">Agregar cliente</button>
<button style="outline:none; float: right;height:100%;" class="btn btn-outline" @onclick="() => CambiarModoFiltro()"><FeatherFilter Color="Black"></FeatherFilter></button>
<br />

@if (oRespuesta.List != null)
{
    <br />
    <RadzenDataGrid AllowFiltering="allowFiltering" AllowColumnResize="true" AllowAlternatingRows="true" FilterMode="FilterMode.Simple" AllowSorting="true" PageSize="50"
                AllowPaging="true" ShowPagingSummary="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" @ref="grid"
                Data="@oRespuesta.List" TItem="Cliente" ColumnWidth="50px" LogicalFilterOperator="LogicalFilterOperator.Or">
        <Columns>
            <RadzenDataGridColumn TItem="Cliente" Property="Id" Filterable="true" Title="ID" Width="40px" />
            <RadzenDataGridColumn TItem="Cliente" Property="RazonSocial" Title="Razon social" Width="100px" />
            <RadzenDataGridColumn TItem="Cliente" Property="NombreContacto" Title="Nombre del contacto" Width="100px" />
            <RadzenDataGridColumn TItem="Cliente" Property="Mail" Title="Mail" Width="80px" />

            <RadzenDataGridColumn TItem="Cliente" Property="" Title="" Filterable="false" Width="30px">
                <Template Context="data">
                    <button class="btn" title="Editar cliente" @onclick="() => add(data.Id)"><FeatherEdit Color="green" /></button>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Cliente" Property="" Title="" Filterable="false" Width="30px">
                <Template Context="data">
                    <button class="btn" title="Eliminar" @onclick="() => alertaDelete(data.Id)"><FeatherTrash2 Color="red" /></button>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Cliente" Property="" Title="" Filterable="false" Width="30px">
                <Template Context="data">
                    <button class="btn" title="Ver info" @onclick="() => gotoinfo(data.Id)"><FeatherInfo Color="blue" /></button>
                </Template>
            </RadzenDataGridColumn>

        </Columns>
    </RadzenDataGrid>
}
else
{
    <br />
    <center>
        <div class="mb-2">
            <RadzenProgressBar Value="100" ShowValue="false" ProgressBarStyle="ProgressBarStyle.Secondary" Mode="ProgressBarMode.Indeterminate" />
        </div>
    </center>
}




@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;
    Respuesta<List<Cliente>> oRespuesta = new();
    RadzenDataGrid<Cliente>? grid;
    int currentPage;
    bool allowFiltering = false;

    protected override async Task OnInitializedAsync()
    {
        await Get();
    }

    async Task Get()
    {
        var respuesta = await http.GetFromJsonAsync<Respuesta<List<Cliente>>>("/api/Cliente");
        oRespuesta = respuesta;
        StateHasChanged();
        
    }

    public void CambiarModoFiltro()
    {
        allowFiltering = !allowFiltering;
        StateHasChanged();
    }
    async Task ComeBack()
    {
        nav.NavigateTo("/ventas");
    }


    async void delete(int id)
    {
        currentPage = grid.CurrentPage;
        await http.DeleteAsync($"/api/Cliente/{id}");
        await Get();
        if (currentPage >= grid.Count / grid.PageSize && grid.Count != 0)
        {
            await grid.GoToPage(currentPage - 1);
        }
        else if (grid.Count != 0)
        {
            await grid.GoToPage(currentPage);
        }
    }

    public async Task alertaDelete(int id)
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "¿Está seguro?",
                Text = "Se eliminará este grupo",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Eliminar",
                CancelButtonText = "Cancelar"
            });

        if (!string.IsNullOrEmpty(result.Value))
        {
            delete(id);

        }
        else if (result.Dismiss == DismissReason.Cancel)
        {

        }
    }

    async Task add(int id)
    {

        var columnRaz = grid.ColumnsCollection.Where(c => c.Property == "RazonSocial").FirstOrDefault();
        var columnMail = grid.ColumnsCollection.Where(c => c.Property == "Mail").FirstOrDefault();
        var columNom = grid.ColumnsCollection.Where(c => c.Property == "NombreContacto").FirstOrDefault();
        object? filtroAnteriorRaz = columnRaz.GetFilterValue();
        object? filtroAnteriorMail = columnMail.GetFilterValue();
        object? filtroAnteriorNom = columNom.GetFilterValue();


        currentPage = grid.CurrentPage;
        if (id != 0)
        {
            var parameters = new ModalParameters();
            parameters.Add(nameof(AddCliente.id), id);
            var formModal = Modal.Show<AddCliente>("Editar Cliente", parameters);
            var result = await formModal.Result;
            if (result.Cancelled)
            {
                Console.WriteLine("Modal was cancelled");
                await grid.GoToPage(currentPage);
            }
            else
            {
                await Get();
                await grid.GoToPage(currentPage);
                columnRaz.FilterValue = filtroAnteriorRaz;
                columnMail.FilterValue = filtroAnteriorMail;
                columNom.FilterValue = filtroAnteriorNom;
                columnRaz.FilterOperator = FilterOperator.StartsWith;
                columnMail.FilterOperator = FilterOperator.StartsWith;
                columNom.FilterOperator = FilterOperator.StartsWith;
                grid.Reload();
            }
        }
        else
        {

            var formModal = Modal.Show<AddCliente>("Agregar Cliente");
            var result = await formModal.Result;


            if (result.Cancelled)
            {
                Console.WriteLine("Modal was cancelled");
                await grid.GoToPage(currentPage);
            }
            else
            {
                await Get();
                await grid.GoToPage(currentPage);
                columnRaz.FilterValue = filtroAnteriorRaz;
                columnMail.FilterValue = filtroAnteriorMail;
                columNom.FilterValue = filtroAnteriorNom;
                columnRaz.FilterOperator = FilterOperator.StartsWith;
                columnMail.FilterOperator = FilterOperator.StartsWith;
                columNom.FilterOperator = FilterOperator.StartsWith;
                grid.Reload();
            }
        }
    }
    async Task gotoinfo(int id)
    {
        currentPage = grid.CurrentPage;
        var parameters = new ModalParameters();
        var options = new ModalOptions()
            {
                HideHeader = true,
                HideCloseButton = true
            };
        parameters.Add(nameof(Info.id), id);
        var formModal = Modal.Show<Info>("", parameters, options);
        var result = await formModal.Result;

        if (result.Cancelled)
        {
            Console.WriteLine("Modal was cancelled");
            await grid.GoToPage(currentPage);
        }
        else
        {
            await Get();
            await grid.GoToPage(currentPage);
        }
    }
}