@page "/proveedores"
<br />
<button class="btn btn-outline-primary" @onclick="ComeBack"><FeatherArrowLeft Color="Blue"></FeatherArrowLeft></button>
<br />
<br />
<h1>Proveedores</h1>
<p>Descripción proveedores (*)</p>
<hr />
<br />
<button class="btn btn-outline-success" @onclick="()=>add(0)">Agregar proveedor</button>
<button style="outline:none; float: right;height:100%;" class="btn btn-outline" @onclick="() => CambiarModoFiltro()"><FeatherFilter Color="Black"></FeatherFilter></button>
<br />

@if (oRespuesta.List != null)
{
    <br />

    <RadzenDataGrid FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="allowFiltering" AllowColumnResize="true" AllowAlternatingRows="true" FilterMode="FilterMode.Simple" AllowSorting="true" PageSize="50"
                AllowPaging="true" ShowPagingSummary="true" @ref="grid"
                Data="@oRespuesta.List" TItem="ProveedoreDTO" ColumnWidth="50px" LogicalFilterOperator="LogicalFilterOperator.Or">
        <Columns>
            <RadzenDataGridColumn TItem="ProveedoreDTO" Property="Id" Title="ID" Width="10%" />
            <RadzenDataGridColumn TItem="ProveedoreDTO" Property="RazonSocial" Title="Razón social" Width="20%" />
            <RadzenDataGridColumn TItem="ProveedoreDTO" Property="" Title="NombreFantasia" Width="20%">
                <Template Context="data">

                    @if (data.NombreFantasia != null)
                    {

                        <a>@data.NombreFantasia</a>
                    }
                    else
                    {
                        <a>-</a>

                    }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ProveedoreDTO" Property="NombreContacto" Title="Nombre del Contácto" Width="20%" />

            <RadzenDataGridColumn TItem="ProveedoreDTO" Property="" Title="" Filterable="false" Width="10%">
                <Template Context="data">
                    <button class="btn" title="Editar proveedor" @onclick="() => add(data.Id)"><FeatherEdit Color="green" /></button>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ProveedoreDTO" Property="" Title="" Filterable="false" Width="10%">
                <Template Context="data">
                    <button class="btn" title="Eliminar" @onclick="() => alertaDelete(data.Id)"><FeatherTrash2 Color="red" /></button>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ProveedoreDTO" Property="" Title="" Filterable="false" Width="10%">
                <Template Context="data">
                    <button class="btn" title="Ver info" @onclick="() => gotoinfo(data.Id)"><FeatherInfo Color="blue" /></button>
                </Template>
            </RadzenDataGridColumn>

        </Columns>
    </RadzenDataGrid>

}
else
{
    <br />
    <center>
        <div class="mb-2">
            <RadzenProgressBar Value="100" ShowValue="false" ProgressBarStyle="ProgressBarStyle.Secondary" Mode="ProgressBarMode.Indeterminate" />
        </div>
    </center>
}










@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;
    Respuesta<List<ProveedoreDTO>> oRespuesta = new();
    RadzenDataGrid<ProveedoreDTO>? grid;
    bool allowFiltering = false;
    int currentPage;

    protected override async Task OnInitializedAsync()
    {
        await Get();
    }

    async Task Get()
    {
        var respuesta = await http.GetFromJsonAsync<Respuesta<List<ProveedoreDTO>>>("/api/Proveedore");
        oRespuesta = respuesta;
        StateHasChanged();

    }
    public void CambiarModoFiltro()
    {
        allowFiltering = !allowFiltering;
        StateHasChanged();
    }
    async Task ComeBack()
    {
        nav.NavigateTo("/compras");
    }


    async Task delete(int id)
    {
        currentPage = grid.CurrentPage;
        await http.DeleteAsync($"/api/Proveedore/{id}");
        await Get();
        if(currentPage>=grid.Count/grid.PageSize && grid.Count != 0)
        {
            await grid.GoToPage(currentPage - 1);
        }
        else if(grid.Count!=0)
        {
            await grid.GoToPage(currentPage);
        }

    }

    public async Task alertaDelete(int id)
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "¿Está seguro?",
                Text = "Se eliminará este grupo",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Eliminar",
                CancelButtonText = "Cancelar"
            });

        if (!string.IsNullOrEmpty(result.Value))
        {
            delete(id);

        }
        else if (result.Dismiss == DismissReason.Cancel)
        {

        }
    }


    async Task add(int id)
    {
        var columnDes = grid.ColumnsCollection.Where(c => c.Property == "RazonSocial").FirstOrDefault();
        var columnCod = grid.ColumnsCollection.Where(c => c.Property == "Cuit").FirstOrDefault();
        var columNom = grid.ColumnsCollection.Where(c => c.Property == "NombreContacto").FirstOrDefault();
        object? filtroAnteriorDes = columnDes.GetFilterValue();
        object? filtroAnteriorCod = columnCod.GetFilterValue();
        object? filtroAnteriorNom = columNom.GetFilterValue();



        if (id != 0)
        {
            currentPage = grid.CurrentPage;
            var parameters = new ModalParameters();
            parameters.Add(nameof(AddProveedor.id), id);
            var options = new ModalOptions()
                {
                    Size = ModalSize.Large
                };
            var formModal = Modal.Show<AddProveedor>("Editar proveedor", parameters,options);
            var result = await formModal.Result;
            if (result.Cancelled)
            {
                Console.WriteLine("Modal was cancelled");
                await grid.GoToPage(currentPage);
            }
            else
            {
                await Get();
                await grid.GoToPage(currentPage);

                columnDes.FilterValue = filtroAnteriorDes;
                columnCod.FilterValue = filtroAnteriorCod;
                columNom.FilterValue = filtroAnteriorNom;
                columnDes.FilterOperator = FilterOperator.StartsWith;
                columnCod.FilterOperator = FilterOperator.StartsWith;
                columNom.FilterOperator = FilterOperator.StartsWith;
                grid.Reload();
            }
           
        }
        else
        {

            var formModal = Modal.Show<AddProveedor>("Agregar proveedor");
            var result = await formModal.Result;


            if (result.Cancelled)
            {
                Console.WriteLine("Modal was cancelled");
                await grid.GoToPage(currentPage);
            }
            else
            {
                await Get();
                await grid.GoToPage(currentPage);
            
                columnDes.FilterValue = filtroAnteriorDes;
                columnCod.FilterValue = filtroAnteriorCod;
                columNom.FilterValue = filtroAnteriorNom;
                columnDes.FilterOperator = FilterOperator.StartsWith;
                columnCod.FilterOperator = FilterOperator.StartsWith;
                columNom.FilterOperator = FilterOperator.StartsWith;
                grid.Reload();
            }
        }
    }
    async Task gotoinfo(int id)
    {
        currentPage = grid.CurrentPage;
        var parameters = new ModalParameters();
        var options = new ModalOptions()
            {
                HideHeader = true,
                HideCloseButton = true
            };
        parameters.Add(nameof(Info.id), id);
        var formModal = Modal.Show<Info>("", parameters, options);
        var result = await formModal.Result;

        if (result.Cancelled)
        {
            Console.WriteLine("Modal was cancelled");
            await grid.GoToPage(currentPage);
        }
        else
        {
            await Get();
            await grid.GoToPage(currentPage);
        }
    }
}