@using BlazorApp1.Client.Pages.h_Calendario


<AuthorizeView Roles="USUARIOMAESTRO">
    <Authorized>

        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="">Di Metallo - SIGP</a>
                <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>

        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="administracion" Match="NavLinkMatch.All">
                        <img src="images/Administración-removebg-preview.png" width="40px" /> &nbsp; Administración
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="compras" Match="NavLinkMatch.All">
                        <img src="images/Compras.png" width="40px" /> &nbsp; Compras
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ventas" Match="NavLinkMatch.All">
                        <img src="images/Ventas-logo.png" width="40px" /> &nbsp; Ventas
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="deposito" Match="NavLinkMatch.All">
                        <img src="images/Depósito-removebg-preview.png" width="40px" /> &nbsp; Depósito
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="produccion" Match="NavLinkMatch.All">
                        <img src="images/Producción.png" width="40px" /> &nbsp; Producción
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="estadistica" Match="NavLinkMatch.All">
                        <img src="images/estadisticaa.png" width="40px" /> &nbsp; Estadisticas
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="mantenimiento" Match="NavLinkMatch.All">
                        <img src="images/Mantenimiento.png" width="40px" /> &nbsp; Mantenimiento
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/notas" Match="NavLinkMatch.All">
                        <span class="oi oi-paperclip" aria-hidden="true"></span> Notas de versión
                    </NavLink>
                </div>
                <div class="nav-item px-3" style="position:absolute">
                    <Calendar @ref="_calendario" />
                    <button class="btn btn-zoom" style="position:absolute;bottom: 193px;left: 192px;" @onclick="() =>zoomIn()">
                        <FeatherMaximize2 Color="Black" Size="20"></FeatherMaximize2>
                    </button>
                </div>

            </nav>
        </div>

    </Authorized>

</AuthorizeView>

<AuthorizeView Roles="Soldadura,Punzonado,Plegado,Armado,Produccion">
    <Authorized>

        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="">Di Metallo - SIGP</a>
                <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>

        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="produccion" Match="NavLinkMatch.All">
                        <img src="images/Producción.png" width="40px" /> &nbsp; Producción
                    </NavLink>
                </div>
            </nav>
        </div>

    </Authorized>

</AuthorizeView>
<AuthorizeView Roles="OficinaTecnica">
    <Authorized>

        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="">Di Metallo - SIGP</a>
                <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>

        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="produccion" Match="NavLinkMatch.All">
                        <img src="images/Producción.png" width="40px" /> &nbsp; Producción
                    </NavLink>
                </div>
            </nav>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="estadistica" Match="NavLinkMatch.All">
                <img src="images/estadisticaa.png" width="40px" /> &nbsp; Estadisticas
            </NavLink>
        </div>
    </Authorized>

</AuthorizeView>

<AuthorizeView Roles="Deposito">
    <Authorized>
        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="">Di Metallo - SIGP</a>
                <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="compras" Match="NavLinkMatch.All">
                        <img src="images/Compras.png" width="40px" /> &nbsp; Compras
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="deposito" Match="NavLinkMatch.All">
                        <img src="images/Depósito-removebg-preview.png" width="40px" /> &nbsp; Depósito
                    </NavLink>
                </div>
            </nav>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private Calendar _calendario;
    private bool collapseNavMenu = true;

    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    async Task zoomIn()
    {
        await gotocalendar();
        await _calendario.GenerateCalendar();
        StateHasChanged();
    }
    async Task gotocalendar()
    {
        var parameters = new ModalParameters();
        parameters.Add("noAddon", true);
        var options = new ModalOptions()
            {
                Size = ModalSize.Large
            };
        var formModal = Modal.Show<Calendar>("Calendario", parameters, options);
        var result = await formModal.Result;
        await _calendario.GetInfo();
    }
}
