<RadzenText TextStyle="TextStyle.H6"> Ingrese la cantidad recibida</RadzenText>
<div class="card">
    <div class="card-body">
        <div class="row">
            <br />         
            <div class="col-sm-6">
                <label>Cantidad: </label>
                <input type="text" class="form-control" @bind="@Cantidad"></input>
            </div>
        </div>
        <br />
        <button type="button" @onclick="accept" style=" float: right;" class="btn btn-primary mr-2">Aceptar</button>
        <button type="button" @onclick="cancel" style=" float: right;" class="btn btn-light">Cancelar</button>
    </div>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    
    public string? NroRemito;
    public string? Comentario;
    public int? Cantidad = 0;




    async Task accept()
    {     
            
            await BlazoredModal.CloseAsync(ModalResult.Ok(Cantidad));
            
    }
    async Task cancel()
    {
        await BlazoredModal.CloseAsync(ModalResult.Cancel());

    }
    public async Task alertaError()
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "No ingresó un remito válido",
                Icon = SweetAlertIcon.Error,
                ShowCancelButton = false,
                ConfirmButtonText = "Aceptar",

            });


    }
}
