<div class="card">
    <div class="card-body">
        <div class="row">
        <br />
            <div class="col-sm-6">
                <label>Ingrese N° de Remito</label>
                <input type="text" class="form-control" @bind="@NroRemito" placeholder="N° Remito"></input>

            </div>
        </div>
        <br />
        <button type="button" @onclick="accept" style=" float: right;" class="btn btn-primary mr-2">Aceptar</button>
        <button type="button" @onclick="cancel" style=" float: right;" class="btn btn-light">Cancelar</button>
        <br />
    </div>
</div>


@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    public string? NroRemito;
    protected override async Task OnInitializedAsync()
    {
    }

    async Task accept()
    {
        if (string.IsNullOrEmpty(NroRemito))
        {
            await alertaError();

        }
        else
        {
            await BlazoredModal.CloseAsync(ModalResult.Ok(NroRemito));

        }
    }

    async Task cancel()
    {
        await BlazoredModal.CloseAsync(ModalResult.Cancel());

    }
    public async Task alertaError()
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "No ingresó un remito válido",
                Icon = SweetAlertIcon.Error,
                ShowCancelButton = false,
                ConfirmButtonText = "Aceptar",

            });

      
    }
}
