@page "/estadistica"

<br />
<button class="btn btn-outline-primary" @onclick="ComeBack"><FeatherArrowLeft Color="Blue"></FeatherArrowLeft></button>
<br />
<br />
<h1>Estadisticas</h1>
<p>Informacion de compras, ventas y empleados (*)</p>

<hr />
<br />
<style>

    .asd {
        border: none;
        color: black;
        padding: 16px 32px;
        margin: 2px 1px;
        transition-duration: 0.4s;
    }

        .asd:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }

    .card:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
</style>

<center>
    <div class="container">
        <div class="row">
            <div class=" col-xl-3 col-md-6 mb-4">
                <div class="card border-10 " style="height:350px;">
                    <div @onclick=gotoempleados>
                        <img src="/Images/eficiencia.png" class="card-img-top" alt="..." style="height:200px;">
                        <div class="card-body text-center">
                            <h4 class="card-title mb-0">Empleados</h4>
                            <label>Estadisticas de empleados (*)</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" col-xl-3 col-md-6 mb-4">
                <div class="card border-10 " style="height:350px;">
                    <div @onclick=gotoventas>
                        <img src="images/Compras.png" class="card-img-top" alt="..." style="height:200px;">
                        <div class="card-body text-center">
                            <h4 class="card-title mb-0">compras</h4>
                            <label>Estadistica de compras (*)</label>
                        </div>
                    </div>
                </div>
            </div>
           @*  <div class=" col-xl-3 col-md-6 mb-4">
                <div class="card border-10 " style="height:350px;">
                    <div @onclick=goTickets>
                        <img src="images/Compras.png" class="card-img-top" alt="..." style="height:200px;">
                        <div class="card-body text-center">
                            <h4 class="card-title mb-0">Tickets</h4>
                            <label>Crear tickets de pedidos (*)</label>
                        </div>
                    </div>
                </div>
            </div> *@
            <div class=" col-xl-3 col-md-6 mb-4">
                <div class="card border-10 " style="height:350px;">
                    <div @onclick=gotoventas>
                        <img src="images/estadistica-compras.jpg" class="card-img-top" alt="..." style="height:200px;">
                        <div class="card-body text-center">
                            <h4 class="card-title mb-0">Ventas</h4>
                            <label>Ver tipos de cotizaciones</label>
                         </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>

</center>

@code {
    async Task gotoempleados()
    {
        nav.NavigateTo("/estadistica/empleados");
    }


    async Task goTogenetales()
    {
        nav.NavigateTo("/estadistica/generales");

    }
    async Task gotocompras()
    {
        nav.NavigateTo("/estadistica/generales");

    }
    async Task gotoventas()
    {
        nav.NavigateTo("/estadistica/ventas");

    }
    async Task goTickets()
    {
        nav.NavigateTo("/tickets");

    }
    async Task ComeBack()
    {
        nav.NavigateTo("/");

    }
}

