@page "/PresupuestosAsociados/{id:int}"


<RadzenText TextStyle="TextStyle.H6" class="rz-color-on-primary-black"><strong>Presupuestos Asociados</strong></RadzenText>




<div class="rz-p-sm-12">
    

                @if (oRtaOC.List != null)
                    {

                        <RadzenDataGrid FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"  AllowColumnResize="true" AllowAlternatingRows="false" 
                                        PageSize="50" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true" @ref="grid"
                                        Data="@orden" TItem="OrdencompraDTO" ColumnWidth="80%" LogicalFilterOperator="LogicalFilterOperator.Or">


                            <Columns>
                            <RadzenDataGridColumn TItem="OrdencompraDTO" Property="Id" Title="Id" Width="20%" />
                            <RadzenDataGridColumn TItem="OrdencompraDTO" Property="Cantidad" Title="Cantidad" Width="20%" />
                                <RadzenDataGridColumn TItem="OrdencompraDTO" Property="Estado" Title="Estado" Width="20%" />
                            <RadzenDataGridColumn TItem="OrdencompraDTO" Property="ProveedorNavigation.RazonSocial" Title="Proveedor" Width="20%" />
                            <RadzenDataGridColumn TItem="OrdencompraDTO" Property="aprobada" Title="Fecha de aprobacion" Width="20%">
                                <Template  Context="data"> 
                                        @if(data.Aprobada.HasValue)
                                        {
                                        <a>
                                            @data.Aprobada.Value.ToString("dd/MM/yyyy")
                                        </a>
                                        }
                                      

                                    </Template>
                                </RadzenDataGridColumn> 


                            </Columns>

                        </RadzenDataGrid>
                    }


         
            
        
        
</div>


@code {




    List<OrdencompraDTO> orden = new();


    Respuesta<List<OrdencompraDTO>> oRtaOC = new();

   

    [Parameter] public int? id { get; set; }

    RadzenDataGrid<OrdencompraDTO>? grid;



    protected override async Task OnInitializedAsync()
    {


        

        var response = await http.GetFromJsonAsync<Respuesta<List<OrdencompraDTO>>>("/api/presupuesto");
        oRtaOC = response;

        orden = oRtaOC.List.Where(x => x.Insumo == id).ToList();

     
        StateHasChanged();
    }
    
    

    
}
